@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:host {
  font-size: 16px;
  --va-font-family: 'Source Sans 3', sans-serif !important;
  color-scheme: light;
}

* {
  scrollbar-color: auto !important;
}

.va-input-label {
  text-transform: lowercase !important;
  letter-spacing: normal !important;
  font-weight: 500 !important;
  font-size: 0.85em !important;
  margin-bottom: 0.5em !important;
}

.tippy-content {
  font-family: var(--va-font-family);
}
